# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# Environments
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Redis
*.rdb

# Chat App Specific
cookies.txt

#ignored files
TECHNICAL_FAQ.md
TESTING_MULTIPLE_USERS.md